@model Admination.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SideBar.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Seller Details</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Admin" }, Request.Url.Scheme)">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active">UserManagement</li>
        <li class="breadcrumb-item active">Seller</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            INSTRUCTIONS
            <hr />
            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
            .
        </div>
    </div>

    <div class="container-fluid card mb-4">
        <hr />
        <div class="row card-body">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Image)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Birth)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Birth)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender.Gender_Define)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender.Gender_Define)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Role.Role_Define)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Role.Role_Define)
                    </dd>
                </dl>

            </div>
        </div>
        <hr />
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <a>
                @Html.ActionLink("Edit", "SellerEdit", new { id = Model.Id_Cus }) or
                @Html.ActionLink("Delete", "SellerDelete", new { id = Model.Id_Cus })
            </a>
        </div>
    </div>

    <div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">
                <p>
                    @Html.ActionLink("Back to List", "SellerManagement")

                </p>
            </li>
        </ol>
    </div>

</div>
